.about-us-container {
  width: 100%;
  margin: 0 auto;
  max-width: auto;
}
.about-us-container nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 2% 0;
}
@media ( max-width: 500px )  {
  .about-us-container nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 3%;
  }
}
.about-us-container nav .links {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
@media ( max-width: 500px )  {
  .about-us-container nav .links {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
  }
}
.about-us-container nav .links a {
  text-decoration: none;
  color: #C73B24;
  font-size: 1.8 rem;
  padding: 0 auto;
  font-family: "Raleway", sans-serif;
  width: auto;
  align-self: center;
}
@media ( max-width: 500px )  {
  .about-us-container nav .links a {
    font-size: 2rem;
    background-color: lightgrey;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
}
.about-us-container nav .links a:hover {
  font-size: 120%;
  color: #712114;
}
.about-us-container nav .log-in-btn {
  background: #C73B24;
  color: #EAF4D3;
  border-radius: 5px;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  width: 100px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media ( max-width: 500px )  {
  .about-us-container nav .log-in-btn {
    width: 100%;
  }
}
.about-us-container nav .log-in-btn:hover {
  font-size: 2.3rem;
}
.about-us-container header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us-container header .pies-background {
  background-image: url(/assets/brooke-lark-of0pMsWApZE-unsplash.jpg);
  background-size: cover;
  width: 90%;
  height: 40vh;
  background-position: center;
}
@media ( max-width: 500px )  {
  .about-us-container header .pies-background {
    background-image: url(/assets/spatulas-square.jpg);
    background-size: cover;
    width: 95%;
    height: 60vh;
    background-position: center;
  }
}
.about-us-container header .pies-background h1 {
  color: #C73B24;
  background-color: white;
  font-family: 'Handlee', cursive;
  font-size: 6rem;
  text-shadow: 2px 2px #273043;
  text-align: center;
  padding: 5% auto;
}
.about-us-container .team-members {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}
@media ( max-width: 500px )  {
  .about-us-container .team-members {
    display: flex;
    flex-direction: column;
  }
}
.about-us-container .team-members .member-inverse {
  display: flex;
  flex-direction: row-reverse;
  background-color: #EAF4D3;
  padding: 4%;
}
@media ( max-width: 500px )  {
  .about-us-container .team-members .member-inverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0;
    padding: 4%;
  }
}
.about-us-container .team-members .member-inverse .info-inverse {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-container .team-members .member-inverse .info-inverse h2 {
  font-size: 2.3rem;
  text-transform: uppercase;
  padding: 2% 0;
  color: #C73B24;
}
.about-us-container .team-members .member-inverse .info-inverse h3 {
  font-size: 2rem;
  margin: 5px 0;
}
.about-us-container .team-members .member-inverse .info-inverse p {
  width: auto;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 5px 0;
}
.about-us-container .team-members .member-inverse .info-inverse a {
  font-size: 1.5rem;
  margin: 5px 0;
}
.about-us-container .team-members .member-inverse .team-photo img {
  border-radius: 50%;
  border: dotted 5px #C73B24;
  width: 48%;
}
.about-us-container .team-members .member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4%;
}
@media ( max-width: 500px )  {
  .about-us-container .team-members .member {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 4%;
  }
}
.about-us-container .team-members .member .info {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-container .team-members .member .info h2 {
  font-size: 2.3rem;
  text-transform: uppercase;
  padding: 2% 0;
  color: #C73B24;
}
.about-us-container .team-members .member .info h3 {
  font-size: 2rem;
  margin: 5px 0;
}
.about-us-container .team-members .member .info p {
  width: auto;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 5px 0;
}
.about-us-container .team-members .member .info a {
  font-size: 1.5rem;
  margin: 5px 0;
}
.about-us-container .team-members .member .team-photo-move img {
  border-radius: 50%;
  border: dotted 5px #C73B24;
  width: 48%;
  margin-left: 160px;
}
@media ( max-width: 500px )  {
  .about-us-container .team-members .member .team-photo-move img {
    margin: 0;
  }
}
