/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: auto;
}
.container nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 2% 0;
}
@media ( max-width: 500px )  {
  .container nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 3%;
  }
}
.container nav .links {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
@media ( max-width: 500px )  {
  .container nav .links {
    flex-direction: column;
    align-items: center;
  }
}
.container nav .links a {
  text-decoration: none;
  color: #C73B24;
  font-size: 1.8 rem;
  padding: 0 auto;
  font-family: "Raleway", sans-serif;
  width: auto;
  align-self: center;
}
.container nav .links a:hover {
  font-size: 120%;
  color: #712114;
}
.container nav .log-in-btn {
  background: #C73B24;
  color: #EAF4D3;
  border-radius: 5px;
  font-size: 1.8rem;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.container nav .log-in-btn:hover {
  font-size: 2.3rem;
}
.container header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container header .hero-image {
  background-image: url(/assets/kitchen-counter.jpeg);
  background-size: cover;
  width: 90%;
  height: 60vh;
  background-position: top;
}
.container header .hero-image h1 {
  color: #C73B24;
  background-color: white;
  font-family: 'Handlee', cursive;
  font-size: 6rem;
  text-shadow: 2px 2px #273043;
  text-align: center;
  padding: 5% auto;
  margin-bottom: 15px;
}
.container .main-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.container .main-container .features-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .main-container .features-section .features-text {
  width: 48%;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .main-container .features-section .features-text h2 {
  font-size: 2.5rem;
  paddding: 2% 0;
}
.container .main-container .features-section .features-text ul li {
  padding: 2% 0;
}
.container .main-container .features-image {
  width: 48%;
}
.container .main-container .features-image img {
  border-radius: 10px;
  height: 400px;
}
.step {
  margin-bottom: 30px;
}
.footer {
  width: 100%;
  height: 70px;
  border-top: 2px dashed black;
  background-color: #EAF4D3;
  padding: 25px auto;
}
.footer .footer-section > p {
  text-align: center;
  color: #273043;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin: 20px auto;
}
