.footer {
    width: 100%;
    height: 70px;
    border-top: 2px dashed black;
    background-color:@background-color;
    padding:25px auto;
    
   .footer-section > p {
      text-align: center;
      color: @navy;
      font-family: "Raleway", sans-serif;
      font-size: 2rem;
    //   padding:20px auto;
    //   background-color: red;
      margin: 20px auto;
    }
  }