.container{
    width: 100%;
    margin: 0 auto;
    max-width:auto;

    nav{
        display:flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        padding: 2% 0;
        
        // @media @tablet{
        //     display:flex;
        //     flex-direction:column;
        //     justify-content: space-between;
        // }

        @media @phone{
            flex-direction: column;
            align-items: center;
            padding-bottom: 3%;
            padding-top: 3%;
        }

        .links{
        font-size: 1.8rem;
        display: flex;
        justify-content: space-evenly;
        width:30%;
        
            @media @phone{
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin: 20px 0;
            }

            a{
                text-decoration: none;
                color: @accent-color;
                font-size: 1.8 rem;
                padding: 0 auto;
                font-family: "Raleway", sans-serif;
                width:auto;
                align-self: center;

                @media @phone{
                    font-size: 2rem;
                    background-color: lightgrey;
                    text-align: center;
                    width: 100%;
                    padding: 10px 0;
                }

                &:hover{
                  font-size: 120%;
                  color: darken(@accent-color, 20%);  
                }
            }
        }  
        
        .log-in-btn{
            background: @accent-color;
            color: @background-color;
            border-radius: 5px;
            font-size: 1.8rem;
            font-family: "Raleway", sans-serif;
            width: 100px;
            height: 40px;
            cursor: pointer;
            display:flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            @media @phone{
                width: 100%;
            }

            &:hover{
                font-size: 2.3rem;
            }
        }
    }

    header{
    max-width:100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
        .hero-image{
        background-image: url(/assets/kitchen-counter.jpeg);
        background-size: cover;
        width:90%;
        height:60vh;        
        background-position: top;

            @media @phone{
                background-image: url(/assets/spatulas-square.jpg);
                background-size: cover;
                width:95%;
                height: 60vh;
                background-position: center;
            }
        
            h1{
                color:@accent-color;
                background-color: white;
                font-family:'Handlee', cursive;
                font-size: 6rem;
                text-shadow: 2px 2px @navy;
                text-align: center;
                padding: 5% auto;
                // margin-bottom: 15px;
            }
        }
    }

    .main-container{
        max-width:1024px;
        width:100%;
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        justify-content: center;

        .features-section{
            margin:30px 0;
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;



            @media @phone{
                flex-wrap:none;
                flex-direction:column;
                justify-items: center;
                align-items: center;
            }
    
            .features-text{
                width: 48%;
                font-size: 1.8rem;
                display:flex;
                flex-direction: column;
                justify-content: center;
            
                @media @phone{
                    width: 85%;
                }
                
                .step{
                    margin-bottom: 30px;
                    font-size: 2.5rem;
                }
                
                ul{
                    li{
                        padding: 2% 0;
                    }
                }
            }
        }

        .features-section-inverse{
            margin:30px 0;
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;

            @media @phone{
                flex-wrap:none;
                flex-direction:column-reverse;
                justify-items: center;
                align-items: center;
            }
    
            .features-text{
                width: 48%;
                font-size: 1.8rem;
                display:flex;
                flex-direction: column;
                justify-content: center;
            
                @media @phone{
                    width: 85%;
                }

                .step{
                    font-size: 2.5rem;
                    margin-bottom: 30px;
                }
                
                ul{
                    li{
                        padding: 2% 0;
                    }
                }
            }            
        }

        .features-image{
            width: 48%;

            @media @phone{
                width:98%;
                margin: 0 auto;
                padding: 4%;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            
            img{
                border-radius: 10px;
                height: 400px;
                
                @media @phone{
                    width:90%; 
                    max-height:450px;
                }
            
            }
        }
    }
}



            

// Nest this properly when opportunity allows!
